*{
    box-sizing: border-box;
}
.eslogan{
    height: auto;
    margin-top: 4.5vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info{
    text-align:center;
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    user-select: none;
}
.about{
    height: auto;
    width: auto;
}
.block{
    text-align: center;
}

.block-info{
    width: 25%;
    text-align: justify;
    /* background-color: bisque; */
}

.h2-about{
    font-weight: 400;
    font-size: 2.7em;
}

.h3-about{
    font-size: 1.9em;
    font-weight: 600;
    margin-bottom: 0.3em;
}

.h4-about{
    font-size: 1.2em;
    font-weight: 400;
}
.sqrs{
    height: 100vh;
    flex-wrap: wrap;
}
.squares{
    margin: auto;
    width:50%;
}
.square-container{
    width: 100%;
    background-color: aqua;
}
.square{
    height: 18em;
    width: 50%;
    margin: 1em -1em 0em -1em;
    padding: 2em;
    background-color: var(--kairos-green);
    display: flex;
    align-items: center;
    text-align: center;
}
.square.dark{
    background-color: var(--lightGray);
    color: var(--kairos-green);
}
.icon{
    font-size: 16vh;
}
.dark{
    color: #1f5e58;
}

@media(max-width: 1400px){
    .sqrs{
        font-size: 0.5em;
        word-wrap: break-word;
        height: auto;
    }
    .square{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
        width: 100%;
        height: 16vh;
    }
    .icon{
        overflow: hidden;
        font-size: 6em;
        margin-bottom: -0.5em;
    }
    .eslogan{
        flex-wrap: wrap;
        font-size: 0.8em;
    }
    .eslogan img{
        height: 22em;
        margin-top: 2em;
    }
    .eslogan .columns{
        flex-wrap: wrap;
        height: auto;
    }
    .column{
        display:flex;
        width: auto;
        flex-wrap: nowrap;
    }
    .squares{
        height: 22vh;
    }
}

@media(max-width: 600px){
    .sqrs{
        height: auto;
    }
    .info{
        width: auto;
    }
    .info h2{
        font-size: 1.6em;
    }
    .info h3{
        font-size: 1em;
    }
    .columns{
        padding: 1em;
        margin-top: 2em;
    }
    .square{
        font-size: 0.8em;
    }
    .squares{
        font-size: 0.8em;
        height: auto;
    }
    .icon{
        font-size: 7em;
    }
    .image{
        height: 14em;
    }
    .eslogan img{
        height: 180px;
        width: 200px;
    }
    .column{
        display: block;
    }
    .block-info{
        width: 100%;
    }
    .block-info h3{
        text-align: center;
        margin-top: 1em;
    }
}