.bg{
    height: 100vh;
    display: block;
}
.contact h3{
    margin-top: 10vh;
    font-size: 3.5em;
    text-align: center;
}
.contact h4{
    font-size: 1.5em;
    margin-bottom: 2em;
    text-align: center  ;
}
input{
    width: 20em;
    height: 5vh;
    margin: 0.5em 0 2.5em 0;
    background-color: var(--darkGray);
    border-radius: 5px;
    padding: 1em;
    color: var(--white);
    border-style:solid;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit{
    background-color: var(--kairos-green);
    color: var(--darkGray);
}
label{
    font-size: 1.3em;
}
input:focus {
    border: 3px solid var(--kairos-green);
}

@media (max-width:600px){
    .bg{
        height: 100vh;
    }
    .contact h3{
        font-size: 2em;
    }
    .contact h4{
        font-size: 1.2em;
    }
    
}