.properties{
    box-sizing: border-box;
    margin-top: 3.5em;
    height: auto;
    padding: 0;
    background-color: var(--darkGray);
}
.cards-wrapper{
    margin: auto;
    width: 95%;
    height: auto;
    background-color: var(--darkGray);
    padding: 5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width:600px){
    .cards-wrapper{
        padding: 1em;
        display: block;
        margin-top: 1em;
    }
}