.qa-card{
    display: flex;
    align-items: center;
    width: 50%;
    /* background-color: azure; */
  }
  
  .faqs-card-icon{
    width: 5rem;
    height: 5rem;
    border: solid 3px var(--white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:1em;
  }
  
  .faqs-inner-icon{
    height: 4em;
    width: 4em;
    font-size: 2.2em;
    text-align: center;
    color: white;
    margin-top: 3em;
  }
  
  .faqs-card-text{
    width: 80%;
    text-justify:distribute;
    text-justify:inter-word;
  }
  
  .faqs-card-text h3{
    font-size: 1.4em;
  }
  .faqs-card-text h4{
    font-size: 1em;
    color: var(--white);
    margin: 0;
  }

  @media (max-width:600px){
    .header-faqs{
      display: block;
    }
    .header-faqs h3{
      font-size: 2em;
    }
    .header-faqs p{
      font-size: 1.2em;
      margin-bottom: 1em;
    }
    .header-faqs div{
      width: auto;
    }
    .faqs-icon{
      margin: 0;
    }
    .qa{
      display: block;
    }
    .qa-card{
      width: 100%;
      margin-bottom: 2em;
    }
    .section{
      padding: 1em;
    }
  }