@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
  --kairos-green: #52E2D4;
  --dark-green: #30a69a;
  --darkGray: #3d3d3d;
  --lightGray:#4b4b4b;
  --white:#e0e0e0;
}

.App {
  height: 100%;
  width: 100%;
  background-color:var(--darkGray);
  font-family:'Rubik',sans-serif;
}


.section{
  background-color: var(--lightGray);
  height: auto;
  padding: 4em;
  color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.photo-reel{
  height: 91vh;
}
.alt{
  background-color:#3d3d3d;
}